html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: 800;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
    color: #333333;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
    letter-spacing: 2px;
}


/* ===================================********************* */

.Course {
    width: 100%;
    overflow: hidden;
    min-width: 1200px;
}

.middle {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}


/* 头部开始 */

.head {
    width: 100%;
    height: 120px;
    background-color: #fff;
}

.head_k {
    width: 1200px;
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_k .logo {
    display: flex;
    align-items: center;
}

.head_k .logo p {
    margin-right: 17px;
}

.nav {
    font-size: 20px;
    display: flex;
}

.nav li {
    margin: 0 30px;
    position: relative;
    cursor: pointer;
}

.nav>li:after {
    content: '';
    position: absolute;
    left: 27px;
    top: 30px;
    bottom: 5px;
    right: 0;
    height: 3px;
    width: 30px;
    background-color: transparent;
    border-radius: 20px;
}

.nav>li:nth-child(1):after {
    left: 6px;
}

.nav .active:after {
    background-color: #155bce;
}

.nav .active {
    color: #155bce;
}

.login {
    font-size: 14px;
    display: flex;
}

.login>li+li:before {
    color: #000;
    content: "|";
    padding: 0 5px;
    position: relative;
    top: -1px;
}


/* 头部结束 */


/* 内容区开始 */

.content {
    width: 100%;
    overflow: hidden;
    min-width: 1200px;
    margin-top: 28px;
}

.optional {
    padding: 20px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 30px;
}

.optionalList {
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #dbdbdb;
    padding: 12px 0;
}

.optionalList:last-child {
    border: 0;
}

.optionalList>p {
    font-size: 14px;
    color: #000000;
    margin-right: 10px;
}

.optionalList>ul {
    display: flex;
    overflow: hidden;
}

.optionalList>ul li {
    padding: 5px 14px;
    font-size: 14px;
}


/* 内容区结束 */


/* 课程列表开始 */

.courseList {
    padding: 30px 0 0 20px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}

.courseList>div {
    overflow: hidden;
    padding: 16px 14px;
    border: 1px solid #f0f3f9;
    width: 245px;
    margin: 0 20px 30px 0;
}

.courseList>div .courseListimg {
    width: 245px;
    height: 180px;
    background-color: #6b8ac5;
}

.courseList>div h6 {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    margin-top: 16px;
}

.courseList>div .courseListtime {
    overflow: hidden;
    margin: 16px 0 14px;
}

.courseList>div .courseListtime span {
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
}

.courseList>div .courseListBtn {
    padding: 5px 18px;
    border: 1px solid #155bce;
    color: #155bce;
    border-radius: 20px;
    cursor: pointer;
}

.paging {
    background-color: #fff;
    padding: 0 20px 30px;
    overflow: hidden;
}

#demo7 {
    float: right;
}

#demo7 .layui-laypage-em {
    background-color: #155bce;
}

.courseListActive {
    background: #f0f3f9;
}

.courseListActive h6 {
    color: #155bce;
}

.courseListActive .courseListtime {
    color: #155bce;
}

.courseList .courseListActive .courseListBtn {
    color: #fff;
    background: #155bce;
}


/* 课程列表结束 */